header {
    background-color: lightyellow;

}

.navbar-nav {
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}body {
 display: row;
 
}
.mb-3 {
    padding: 20px;
    
}

button {
margin-left: 800px;
}

footer{
    background-color: aqua;
}
.footer-left{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
   
}
.imgfooter{
    display:inline-flex;
    width:50px;
    margin-left: 250px; 
    justify-content: center;
}
